<h2><%= @repo.name %></h2>
<div>
	<strong>Branches:</strong>
	<ul>
		<% @repo.branches.each do |branch| %>
			<li><%= branch %>: <%= link_to "Download #{branch} branch", repo_download_branch_path(@repo, branch) %></li>
		<% end %>
	</ul>
</div>
<div>
	<strong>Hooks:</strong>
	<ul>
		<% @repo.hooks.each do |hook| %>
			<li><%= hook %>: <%= link_to "Download #{hook} hook", repo_download_hook_path(@repo, hook.split(".")[0]) %></li>
		<% end %>
		
	</ul>
	
	<% if(admin_user) %>
	<%= link_to "Upload Hook", "#", :onclick => "$('#hook_upload_form').show();$('#hook_upload').hide();", :id => "hook_upload" %>
		<div style="display:none;" id="hook_upload_form">
			<%= form_tag(repo_upload_hook_path(@repo), role: "form", multipart: true) do %>
			<div class="form-group">
				<label for="file">Hook:</label> <%= file_field_tag "file" %>
			</div>

			<%= submit_tag "Upload Hook", class: "btn btn-success" %>

			<% end %>
		</div>
	<% end %>
</div>
<div>
	<strong>Users:</strong>
	<ul>
		<% @repo.users.each do |user| %>
			<% if admin_user %>
				<li><%= link_to user.name, user_path(user) %></li>
			<% else %>
				<li><%= user.name %></li>
			<% end %>
		<% end %>
	</ul>
</div>
<div>
	<strong>Groups:</strong>
	<ul>
		<% @repo.groups.each do |group| %>
			<% if admin_user %>
				<li><%= link_to group.name, group_path(group) %></li>
			<% else %>
				<li><%= group.name %></li>
			<% end %>
		<% end %>
	</ul>
</div>
<% if(admin_user) %>
	<%= link_to 'Edit', edit_repo_path(@repo), :class => "btn btn-warning" %> 
<% end %>
<%= link_to 'Back', repos_path, :class => "btn btn-danger" %>
