<%= form_for(@key, html: { role: "form" }) do |f| %>
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :user_id %>:
    <%= f.collection_select(:user_id, User.all, :id, :name, {include_blank: true} , {:class => "chosen-select form-control", "data-placeholder" => "Select User..."}) %>
  </div>
  <div class="field form-group">
    <%= f.label :value %>:
    <%= f.text_field :value,:class =>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Back', keys_path, :class => "btn btn-danger" %>
  </div>
<% end %>
