<h1>Key List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td title="<%= key.value %>"><%= key.value[0..60] %>...</td>
        <td><%= key.user.name %></td>
        <td><%= link_to 'Show', key, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', key, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key', new_key_path, :class => "btn btn-success" %>
