<%= form_for(@hook) do |f| %>
  <% if @hook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hook.errors.count, "error") %> prohibited this hook from being saved:</h2>

      <ul>
      <% @hook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :repo_id %><br>
    <%= f.text_field :repo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
